.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }
 ol,
 ul {
     list-style: none;
 }
 * {
     margin: 0;
     padding: 0;
 }
#drawCanvas {
    background: gray;
    display: block;
}

body {
    margin: 0;
    overflow: hidden;
}

.actions {
    position: fixed;
    top: 30px;
    left: 20px;
}
.actions > svg {
    width: 1.5em;
    height: 1.5em;
}
.actions > svg.active {
    fill: red;
    transform: scale(1.2);
}
.colors {
    position: fixed;
    top: 55px;
    left: 10px;
}
.colors > li {
    width: 20px;
    height: 20px;
    border: 1px gray solid;
    margin: 10px 0;
    border-radius: 50%;
    transition: all 0.3s;
}
.colors > li.black {
    background: black;
}
.colors > li.red {
    background: red;
}
.colors > li.green {
    background: green;
}
.colors > li.yellow {
    background: yellow;
}
.colors > li.active {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.95);
    transform: scale(1.2);
    
}
.sizes {
    position: fixed;
    left: 10px;
    top: 180px;
}
.sizes > li {
    margin: 20px 0;
}
.sizes > .thin {
    height: 0;
    width: 20px;
    border-top: 3px solid black;
}
.sizes > .thick {
    height: 0;
    width: 20px;
    border-top: 6px solid black;
}